body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: lightgreen;
  
}

h1 {
  margin: 1em;
}

li {
  margin: .5em;
  font-size: larger;
  
}